/* Introdução */
.interna_personagens {
    background: url("../img/personagens/bg-personagens.jpg") no-repeat center;
    background-size: cover;
}

/* Botões */

.botoes {
    margin-top: 20px;
}

.subtitulo_botoes {
    padding: 10px 40px;
    width: 280px;
    background: #49b7a6;
    float: left;
}

.botoes .subtitulo_botoes .h2_botoes{
    text-align: left;
    margin-bottom: 0px;
}

.botoes .subtitulo_botoes .h2_botoes:after{
    margin: 10px 0;
}

.botoes .a_players {
    float: right;
    padding: 15px 30px;
    background: #000;
}

.botoes .a_players:hover {
    background: #FCB040;
}

.vitrine_personagens {
    margin: 60px 10px 0px 10px;
    /* max-width: 200px; */
    border: 2px solid #49b7a6;
    display: inline-block;
    padding: 2px;
}

.vitrine_personagens img {
    filter: brightness(60%);
    transition: filter 0.5s linear;
}

.vitrine_personagens p{
    background: #49b7a6;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 1em;
}

.vitrine_personagens img:hover{
    filter: brightness(100%);
}

.sessao_vitrine {
    padding-bottom: 60px;
}
.pre_footer_npcs {
    background: url("../img/personagens/footer-npcs.jpg") center;
}